<%# <div class="banner" style="background-image: url(https://source.unsplash.com/I6mx55jXOvM)">
  <div class="container">
  </div>
</div> %>

<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new surplus</h3>
        <%= simple_form_for @surplus, url: surpluses_path do |f| %>
          <%= f.input :photo, as: :file %>
          <%# <%= f.input :category, placeholder: 'restaurant, individual, etc.' %>
          <%= f.input :category, collection: ["bakery", "butcher", "individual", "ngo", "restaurant", "others"]%>
          <%= f.input :description %>
          <%= f.input :location %>
          <%= f.input :quantity %>
          <%= f.submit class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
