<div class="position-relative">
  <h4 class="card-header"><%=  @surplus.location %></h4>
  <div class="card-category-show card-large">
    <div style="width: 500px; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
      <div class="card-body">
        <h4 class="card-title"> <%= image_tag "storefront.svg" %> <%= @surplus.category %></h4>
        <h4 class="card-name"><%=  @surplus.name %> (Qty. <%= @surplus.quantity %>) </h4>
        <img src="<%= cl_image_path(@surplus.photo.key, width: 300, height: 300, crop: :fill) %>" alt="<%= @surplus.name %>" class="m-3">
        <div class="date-section">
          <p class="card-text"><%=  @surplus.description %></p>
          <h6>Pick up date and time</h6>
          <%= simple_form_for [@surplus, @booking] do |f| %>
            <%= f.input :date, label: false, as: :datetime %>
            <%= f.submit class: 'btn btn-success' %>
             <%= link_to 'Go Back', surpluses_path, class: 'btn btn-success' %>
          <% end %>
        </div>
      </div>
  </div>
</div>
